html {
    font-size: 16px;
}
body{
    background-image: url(../img/scale.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
#container_buscador {
    margin: 2rem 0;
    display: flex;
    justify-content: center;

}
#container_buscador > img{
    height: 6rem;
    padding-right: 40px;
}
#chiquito{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgba(240, 255, 240, 0.507);

}
#container_buscador div img{
    height: 2rem;
}
#container_buscador input[type="text"]{
    width: 50%;
    height: 2rem;
    border-radius: 5px;
    padding: 0 10px;
    font-size: 16px;
    border-right: none;
}
#container_home {
    width: 98%;
    margin: 0 auto;
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}
#container_section_videos {
    display: flex;
    flex-direction: column;
}
/*video izquierda*/
#container_video {
    margin: .5rem 0;
}
.youtubeVid{
    display: flex;
    flex-direction: row;
    text-decoration-color: aliceblue;
}
#container_video .youtubeVid{
    background-color: grey;
    height: 45vh;
    width: 70vw;
}
#container_video h3 {
    margin: 1rem 0;
    text-align: center;
    border-bottom: 2px solid #ffffff;
    text-shadow: 1px 1px 2px rgb(255, 0, 43);
}
#container_video p {
    text-shadow: 1px 1px 2px rgb(253, 0, 177);
}
#container_video_relacionados_section {
    display: flex;
    flex-direction: column;
    text-shadow: 1px 1px 2px rgb(255, 255, 255);
}
#container_video_relacionados_section {
    text-align: center;
}
#container_videos_relacionados {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    width: 70vw;
}
.video_relacionado {
    background-color: grey;
    width: 250px;
    flex: 0 0 auto;
    height: 10rem;
    margin: 0 .5rem;
}
/*info derecha*/
#container_info {
    margin-top: 5.5rem;
    display: flex;
    flex-direction: column;
    width: 20vw;
}
#container_info_canal{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 1.5rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid #ccc;
    text-shadow: 1px 1px 2px rgb(255, 0, 43);
    background-color: rgba(240, 255, 240, 0.507);
}
#container_info_comentarios{
    margin: 20px;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: left;
    padding-bottom: 6vh;
    margin-bottom: 1.5rem;
    text-shadow: 1px 1px 2px rgb(255, 0, 221);
    background-color: rgba(240, 255, 240, 0.507);
    list-style: none;
}
#usuarios{
    background-color: rgba(240, 255, 240, 0.507);
}
.contComen{
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 3px solid black;
    padding-top: 0.6rem;
}
.imagenUsuario{
    margin-left: 2rem;
    width: 30%;
    height: 10vh;
    padding: 0.5rem;
}
.imagenUsuario img{
    width: 55%;
    border-radius: 1.5rem;
}
.nameUser{
    width: 78%;
    text-align: left;
}

.comentarioUsuario {
    border: 3px solid black;
    width: 100%;
    height: 50vh;
    overflow-y: auto;
    padding: 1rem;
}


#container_info_descripcion{
    margin: 10px 100px 0 20px;
    width: 100%;
    text-shadow: 1px 1px 2px rgb(243, 2, 252);
    background-color: rgba(240, 255, 240, 0.507);
}

#container_info_descripcion h5{
    text-align: center;
}
#container_info_descripcion p{
    height: 5rem;
    overflow-y: auto;
}
